<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gsi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GSI"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CitaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ProcedimientoAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ProcedimientoAgregarActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCH0O4nTCNaDSOj2zH2Nbcimm2sEke5xlo" />

        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:label="@string/title_activity_main3"
            android:theme="@style/Theme.GSI.NoActionBar" />
        <activity
            android:name=".UbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".MedicoEditarActivity"
            android:exported="false" />
        <activity
            android:name=".PacienteDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".MedicoDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".ReservaCitaPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".CitaRegistrarActivity"
            android:exported="false" />
        <activity
            android:name=".ListaPacienteAdminActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".AlergiaPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".ContactoMedicoPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".ContactoEmergenciaPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".PacientePerfilActivity"
            android:exported="false" />
        <activity
            android:name=".MedicinaPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".AcercaNosotrosActivity"
            android:exported="true" />
        <activity
            android:name=".EnfermedadPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".ControlSaludActivity"
            android:exported="false" />
        <activity
            android:name=".MedicoPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".ProcedimientoPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".MedicoAgregarActivity"
            android:exported="false" />
        <activity
            android:name=".CitaPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".MedicosAdminActivity"
            android:exported="false" />
        <activity
            android:name=".EspecialidadEditarActivity"
            android:exported="false" />
        <activity
            android:name=".EspecialidadesAdminActivity"
            android:exported="false" />
        <activity
            android:name=".EspecialidadesPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardAdminActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardInvitadoActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>